## Cara Mendapatkan Alamat dari Titik Koordinat

#### Import Library Python

In [1]:
import pandas as pd
import geopy
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter
from tqdm import tqdm, tqdm_pandas

#### Load File csv

In [2]:
df = pd.read_csv("100longlat.csv")

In [3]:
df.head(10)

        lat        long
0 -6.157899  106.714766
1 -6.147005  106.691780
2 -6.141758  106.694437
3 -6.164021  106.699431
4 -6.158809  106.699268
5 -6.146962  106.691994
6 -6.181146  106.850512
7 -6.177494  106.846014
8 -6.180616  106.870279
9 -6.184740  106.849904

#### Gabungkan kolom lat dan long kemudian pisahkan dengan koma

In [4]:
df["geom"] = df["lat"].map(str) + ',' + df["long"].map(str)

In [5]:
df["geom"][0]

'-6.15789944,106.714766'

In [6]:
locator = Nominatim(user_agent="myGeocoder", timeout=10)

rgeocode = RateLimiter(locator.reverse, min_delay_seconds=0.001)

In [7]:
tqdm.pandas()

#### Tambahkan Kolom Alamat dan proses Koordinatnya

In [8]:
df['alamat'] = df['geom'].progress_apply(rgeocode)

100%|██████████| 99/99 [00:51<00:00,  1.93it/s]

In [9]:
df.head(10)

,lat,long,geom,alamat
0,-6.157899,106.714766,"-6.15789944,106.714766","(Jalan Duri Semanan, RW 13, Semanan, Kalideres..."
1,-6.147005,106.691780,"-6.14700474,106.69177988","(Jalan Alam Barat, RW 10, Kalideres, Jakarta B..."
2,-6.141758,106.694437,"-6.14175781,106.69443692","(Masjid Jami' Almarhumah, Jalan Peta Barat, RW..."
3,-6.164021,106.699431,"-6.16402146,106.69943142","(RW 10, Semanan, Kalideres, Jakarta Barat, Dae..."
4,-6.158809,106.699268,"-6.15880909,106.69926776","(Jalan Daan Mogot, RW 02, Kalideres, Kebon Bes..."
5,-6.146962,106.691994,"-6.14696172,106.69199397","(Jalan Alam Barat, RW 10, Kalideres, Jakarta B..."
6,-6.181146,106.850512,"-6.18114581331611,106.850511850789","(Jalan Tanah Tinggi 12, RW 12, Tanah Tinggi, J..."
7,-6.177494,106.846014,"-6.17749423719943,106.846014373004","(Masjid Jami An Nur, Jalan Tanah Tinggi I, RW ..."
8,-6.180616,106.870279,"-6.18061621,106.87027856","(Masjid Jami Al Hikmah, Jalan Cempaka Warna I,..."
9,-6.184740,106.849904,"-6.18474041,106.84990392","(Jalan Kramat Pulo Gundul, RW 10, Tanah Tinggi..."

#### Export Hasilnya ke file csv baru

In [19]:
df.to_csv("hasil100.csv")